*, *:before, *:after {
  box-sizing: border-box;
}

.LocationContainer {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  gap: 1vmin;
}

.LocationDetail {
  border-radius: 1vmin;
  gap: 1vmin;
}

.DetailsPic {
  width: 30vw;
  border-radius: 2%;
  border: .1vmin solid rgb(23, 23, 29);
}

.sidebar {
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .1vmin solid rgb(23, 23, 29);
}

.LocationDetailDescription {
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #dccdcd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .1vmin solid rgb(23, 23, 29);
}

.LocationDetailName {
  height: 5vmin;
  margin: 20px;
  padding-bottom: 10px;
  background-color: #eee6e6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .1vmin solid rgb(23, 23, 29);
}

p {
  font-size: large;
}

.google-map {
  height: 25vh;
  
}