.LocationContainer {
  display: flex;
  flex: 9;
}

.DetailsPic {
  flex: 3;
  height: 40vmin;
  width:40vmin;
  border-radius: 2%;
}

.sidebar {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LocationDetailDescription {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}